<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
    <h2>O cебе:</h2>
</head>
<body>

<table border="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Электронная почта</th>
        <th>Возраст</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{'/logout'}">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>