<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h2>Users</h2>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Exit">
    </form>
    <br>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.roles}"></td>

            <td>
                <form th:action="@{/admin/{id}/edit(id=${user.id})}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/{id}/delete(id=${user.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <form th:action="@{/admin/new}" method="get">
        <button style="background: lightgray" type="submit">Create new user</button>
    </form>
</div>
</body>
</html>